version: "3.8"

services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: jenkins
    restart: unless-stopped
    user: root
    ports:
      - "8085:8080"
      - "50000:50000"
    volumes:
      - ejemplo-microservicios_jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - microservices-net

volumes:
  ejemplo-microservicios_jenkins_home:
    external: true

networks:
  microservices-net:
    external: true